/*TryING to create the mobile version
*/

.pagewrapper {
    width: 100vw;
    height: 644px;
    background-color: black;
}

header {
    overflow: hidden;
    background-color: black;
    padding: 0px;
    height: auto;
}


/*make image responsive */

.responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*container for the responsive image*/

.header-img {
    position: relative;
    height: 25vh;
}


/*centers header text*/

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: blanchedalmond;
    padding: 0;
    margin: 0;
}


/*arranges "a" elements without any bullets and makes stick to the top when page scrolls down */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
}


/*Add gray border to all but last item*/

li {
    float: left;
    border-right: 1px solid #bbb;
    margin: 0;
    width: 49.59%;
}


/*makes navbar contents centered and the entire navbar horizontal*/

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: black;
    font-size: 20px;
    margin-right: 10px;
}


/*Change the link color on hover*/

li a:hover {
    background-color: black;
    color: goldenrod;
}

.main-page {
    width: 100%;
    height: 429px;
    background-color: black;
}

.product-container {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    height: inherit;
    display: flex;
    /*made the display a flexbox and it fucked me up for nine days. the containers werent affected by the parent div. Made it flex and then it finally worked. FML*/
}

.product-img {
    width: 20%;
    height: auto;
    border-right: 1px solid black;
    margin: 0;
}

.centerpiece-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 2.0s;
}


/* originally wrote ".centerpiece-img :hover" and that tiny space between img and :hover fucked me hard for a good 15 mins. Apparently it's all one word */

.centerpiece-img:hover {
    opacity: 0.3;
}

.product-img p {
    position: absolute;
    width: 20%;
    float: left;
    font-size: 15px;
    color: white;
    padding: 0;
    margin-top: 15%;
}